
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="form-horizontal">
    <h4>Usuário</h4>
    <hr>
    <div class="form-group">
        <label class="control-label col-md-2" for="Nome">Nome</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Nome" name="Nome" type="text" value="" data-bind="value: nome">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Sobrenome">Sobrenome</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Sobrenome" name="Sobrenome" type="text" value="" data-bind="value: sobrenome">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Email">Email</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Email" name="Email" type="text" value="" data-bind="value: email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Telefone">Telefone</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Telefone" name="Telefone" type="text" value="" data-bind="value: telefone">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Endereco">Endereco</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Endereco" name="Endereco" type="text" value="" data-bind="value: endereco">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" data-bind="click: addUsuario" value="Create" class="btn btn-default">
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "")
</div>
